#root{
  margin-top: 50px;
}
.App {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 30px 1fr;
}

.Profile{
  grid-column: 1;
}
.Profile-top{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Profile-pic{
  width: 50%;
  background: #f3e2dc;
  padding: 10px;
  border-radius: 5px;
}
.Profile-bio > button{
  padding: 10px 5px;
  width: 180px;
  border-radius: 5px;
  border: 1px solid #ddd;
}
.fullName, .userName{
  font-weight: normal;
  margin-bottom: 0;
}
.location{
  text-align: center;
}
.location img{
  width: 5%;
}
.Tabs{
  grid-column: 2 / 4;
  display: flex;
  justify-content: space-around;
}
.navLinks, .projectLink{
  text-decoration: none;
}
.navLinks{
  color: #777;
  padding-bottom: 10px;
}
.navLinks:hover{
  border-bottom: 2px solid #777;
}
.navLinks:first-of-type{
  color: #002;
  border-bottom: 2px solid coral;
}
.Projects{
  grid-column: 2 / 4;
  grid-gap: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.Projects h4,
.Projects h5{
  font-weight: normal;
}
.Projects > h5{
  justify-self: end;
}
.ProjectCard{
  padding: 10px 15px;
  border: 1px solid #aaa;
  border-radius: 3px;
}
.type{
  display: inline-block;
  width: 10px;
  height: 10px;
  background: yellow;
  border-radius: 50%;
}
.Add-bio{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
}
.Add-bio textarea{
  grid-column: span 2;
  width: 180px;
  height: 80px;
}
.Save-btn, .Cancel-btn{
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
}
.Cancel-btn{
  width: 80px;
  margin-left: -30px;
}
.Save-btn{
  width: 60px;
  background: #29d229;
  color: white;
  height: 30px;
}
.show{
  display: block;
}
.hide{
  display: none;
}